.errorSection {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.errorItemSection {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 60px 20px;
}

.errorTitle {
  font-size: var(--font-size-h1, 60px);
  margin-bottom: 60px;
}

.errorPfister {
  max-height: 196px;
  max-width: 650px;
}

.errorText {
  font-family: var(--site-main-fonts, Alata);
  font-size: 50px;
  margin-top: 50px;
}
