.sectionSlider {
  display: block;
}

.sectionSliderTitle {
  color: var(--second-site-color, #000);
  text-align: center;
  margin-block-start: 20px;
  margin-bottom: 20px;
}

/* КОНТЕЙНЕР ДЛЯ ПОЗИЦИОНИРОВАНИЯ СТРЕЛОК */
.sliderWrapper {
  position: relative;
}

/* СТРЕЛКИ НАВИГАЦИИ */
.navigation {
  position: absolute;
  top: 50%;
  left: 20px;
  right: 20px;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;

  z-index: 10;

  pointer-events: none;
}

.navigation > * {
  pointer-events: auto;
}

/* СЛАЙД */
.sliderItem {
  position: relative;
}

.sliderImg {
  width: 100%;
  display: block;
}

/* ГРУППА ЛОГОТИП И НАЗВАНИЕ */
.textOverlay {
  position: absolute;
  bottom: 30px;
  left: 15px;
  z-index: 5;
  display: flex;
  align-items: baseline;
  gap: 10px;
}

.slider_item_logo {
  color: #ffffff;
  font-size: 64px;
}

.sliderTitle {
  margin: 0;
  color: #ffffff;
  font-family: var(--site-main-fonts, Alata);
  font-size: var(--font-size-h1, 39px);
  font-weight: normal;
}
