.section {
  position: relative;
  height: 100vh;
  max-height: 804px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 5px;
  padding-left: 15px;
}

.position_text {
  display: flex;
  align-items: center;
  gap: 5px;
}

.hero_logo {
  font-family: var(--logo-fonts, SK_Porsche, sans-serif);
  color: #fff;
  font-size: 64px;
  text-decoration: none;
  cursor: default;
}

.hero_text {
  font-family: var(--site-main-fonts);
  font-size: var(--font-size-h1);
  color: var(--text-title-model-color);
}

.neon {
  position: absolute;
  bottom: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: center;
  z-index: -1;
}
