.modelSection {
  background-color: var(--second-site-color, #000);
  width: 100%;
  margin-block-start: 27px;
}

.titleModelSection {
  text-align: center;
  color: var(--text-title-model-color, #fff);
  font-weight: normal;
  padding-block-start: 20px;
}

.modelGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 70px 120px;
  margin: 40px auto 0 auto;
  padding-inline: 45px;
  padding-block-end: 105px;
  box-sizing: border-box;
}

.modelsItem {
  position: relative;
  width: 100%;
  aspect-ratio: 615 / 396;
  z-index: 1;
}

.itemInner {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  border-radius: 12px;
  overflow: hidden;
  transition:
    width 0.4s ease,
    box-shadow 0.4s;
}

/* Анимация увеличения карточки в ширину в определённую сторону при наведении */
/* Обращение к нечётным элементам */
.modelsItem:nth-child(odd) .itemInner {
  left: 0;
}

/* Обращение к чётным элементам */
.modelsItem:nth-child(even) .itemInner {
  right: 0;
}

.modelsItem:hover {
  z-index: 10;
}

.modelsItem:hover .itemInner {
  width: calc(100% + 60px);
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.5);
}

.itemImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

.itemTitle {
  position: absolute;
  font-family: var(--site-main-fonts, Alata);
  font-size: var(--font-size-h3, 37px);
  color: var(--text-title-model-color, #fff);
  font-weight: normal;
  bottom: 15px;
  margin: 0;

  /* Анимацяи подчёркивания через text-decoration*/
  text-decoration: underline;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: 3px;
  text-underline-offset: 3px;
  text-decoration-color: transparent;
  transition: text-decoration-color 0.2s ease;
}

.modelsItem:hover .itemTitle {
  text-decoration-color: #ffffff;
}

.modelsItem:nth-child(1) .itemTitle,
.modelsItem:nth-child(2) .itemTitle {
  right: 18px;
}

.modelsItem:nth-child(3) .itemTitle,
.modelsItem:nth-child(4) .itemTitle {
  left: 15px;
}
